// Desktop
@media only screen and (min-width : 1440px){
	.top{
		.top_inner{
			.top_menu{
				a{
					font-size: 16px;
				}
			}
		}
	}
}
@media only screen and (min-width : 768px){
	.desktop_hide{
		display: none !important;
	}
	.btn{
		max-width: 200px;
	}
}