// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  #menu_btn{
    display: block;
  }
  .logout{
    display: none;
  }
  .mini-sidebar .left-sidebar{
    width: 240px;
    left: -260px;
  }
  .mini-sidebar .nav-devider{
    width: 240px;
  }
  .mini-sidebar .hide-menu{
    display: inline-block;
  }
  .mini-sidebar .nav-label{
    display: inline-block;
  }
  .mini-sidebar .sidebar-nav #sidebarnav > li > a{
    padding: 5px 18px;
  }
  .mini-sidebar .page-wrapper{
    margin-left: 0;
  }
  .mini-sidebar .footer{
    left: 0;
  }
}