<style lang="scss">
#dashboard-header{

}
</style>
<template>
	<v-container id="dashboard-header">
		<v-row class="">
			<v-col cols="12" lg="8">
				<v-card class="p-5">
					
					<v-form ref="form" v-model="valid" :lazy-validation="lazy" relative>
						<div class="container px-5 pb-=5">
							<div class="row">
								<div class="col-12">
									<h1>Request more recycling units</h1>
									<p class="mb-5">If you would like more recycling units for your premises, just let us know below.</p>
									<p class="mb-2"><b>How many extra recycling units do you require?</b></p>
									<v-select :items="bins" item-value="slug" item-text="name" label="Select Number of extra recycling units" v-model="fields.bins" :rules="[v => !!v || 'Number of extra bins is required']"  required outlined></v-select>
								</div>
								<div class="col-12 pt-0">
									<p class="mb-2"><b>Anything else we need to know?</b></p>
									<v-textarea
									 	v-model="fields.message"
					          outlined
					          name="message"
					          label="Message"
					          value=""
					        ></v-textarea>
						    </div>
						    <div class="col-12 pt-0">
									<v-btn :disabled="!valid" color="success" class="float-right" rounded @click="sendRequest"><v-icon small left>mdi-check</v-icon>Send Request</v-btn>
						    </div>
						  </div>
					  </div>
					</v-form>	
				</v-card>
			</v-col>
			<v-col cols="12" lg="4">
				<v-card class="p-5">
					<div class="container px-5 pb-=5">
						<div class="row">
							<div class="col-12">
								<h2>Need to cancel?</h2>
								<p>If you would like to cancel your subscription, please let us know using the form below.</p>
							</div>
							<div class="col-12 pt-0">
								<p class="mb-2"><b>We would be grateful if you could tell us why you are cancelling.</b></p>
								<v-textarea
								 	v-model="fields.cancelmessage"
				          outlined
				          name="cancelmessage"
				          label="Please tell us why"
				          value=""
				        ></v-textarea>
						 	</div>
						 	<div class="col-12">
						 		<v-btn color="red" class="float-right" rounded @click="sendCancellationRequest">Send Cancellation Request</v-btn>
						 	</div>
						 	<div class="col-12 text-right">
						 		<p><a href="/cancellation-policy" target="_blank"><u>View our cancellation policy</u></a></p>
						 	</div>
						</div>
					</div>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>
<script>
	export default {
		data() {
			return {
				fields:{
					bins: '',
					message: '',
					cancelmessage: '',
				},
				bins: [
          { slug: '1', name:'One' },
          { slug: '2', name:'Two' },
          { slug: '3', name:'Three' },
          { slug: '4', name:'Four' },
          { slug: '5', name:'Five' },
					{ slug: 'more than 5', name:'More than five' },
        ],
				errors: {},
	      success: false,
	      loaded: true,
        lazy: false,
        valid: false,
			}
		},
		methods:{
			validate () {
        this.$refs.form.validate()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
			backToTop(){
				setTimeout(function(){
					document.body.scrollTop = document.documentElement.scrollTop = 0;
				},450);
			},
			sendRequest(){
				if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          let formData = new FormData();
          formData.append('bins', this.fields.bins);
          formData.append('message', this.fields.message);


          axios.post('/morebins', formData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            // Turn off loader animation and reirect user to destination page
            alert("Request Sent Successfully");
          })
          .catch(error => {
            // Error handling
            console.log(error.response.data);
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
            document.getElementById("loader").classList.remove("on");
          });
        }
			},
			sendCancellationRequest(){
				if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          let formData = new FormData();
          formData.append('message', this.fields.cancelmessage);

          axios.post('/cancellation-request', formData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            // Turn off loader animation and reirect user to destination page
            alert("Request Sent Successfully");
          })
          .catch(error => {
            // Error handling
            console.log(error.response.data);
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
            document.getElementById("loader").classList.remove("on");
          });
        }
			}
		}
	}
</script>