<template>
  <div class="container pt-3 pb-5">
    <div class="row pb-5 mob-py-0" v-if="posts.length > 0">
      <div class="col-md-4 mb-5" v-for="post in posts">
        <a :href="'/news/' + post.slug">
          <div class="card border-0 shadow overflow-hidden post-box text-center text-md-left text-dark">
            <div class="post-image">
              <picture>
                <source media="(min-width: 900px)" :srcset="post.featuredwebp +' 1x, '+ post.featuredwebp + ' 2x'" type="image/webp"/> 
                <source featuredwebp="(min-width: 601px)" :srcset="post.featuredwebp +' 1x, '+ post.featuredwebp + ' 2x'" type="image/webp"/> 
                <source :srcset="post.featuredwebp +'1x, '+ post.featuredwebp + ' 2x'" type="image/webp"/> 
                <img :srcset="post.featured + ' 600w, ' + post.featured + ' 900w, '+ post.featured + ' 1440w'" :src="post.featured" :type="post.mimetype" :alt="post.title" class="w-100" />
              </picture>
            </div>
            <div class="p-4">
              <h4 class="post-title">{{post.title}}</h4>
              <p class="post-exerpt text-small mb-3">{{post.excerpt}}</p>
              <p class="mb-0"><b>Read more</b> <i class="fa fa-arrow-circle-right ml-1"></i></p>
            </div>
          </div>
        </a>  
      </div>
      <div class="col-12 mt-5" v-if="loadmore">
        <div class="btn btn-primary mx-auto" @click="$emit('loadmore', true);">Load More</div>
      </div>
    </div>
    <div class="row justify-content-center py-5" v-else>
      <div class="col-md-8 text-center">
        <h3 class="mb-0">Sorry no results found</h3>
        <div class="line d-inline-block mx-auto my-3"></div>
        <p>Sorry, there are no news articles available at the moment. Please check again later!</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      posts: Array,
      loadmore: Boolean
    },
    methods: {
      moment: function (date) {
        return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>