<template>
	<v-container fluid>
		<v-row>
			<user-stats-header></user-stats-header>
			<user-stats-section-1 :chartdata="chartdata" v-if="loaded"></user-stats-section-1>
			<user-stats-section-2></user-stats-section-2>
			<user-stats-section-3></user-stats-section-3>
			<user-stats-section-4></user-stats-section-4>
		</v-row>
	</v-container>
</template>

<script>
	const userStatsHeader = () => import(/* webpackChunkName: "UserStatsHeader" */ '../components/user-stats/Header.vue');
	const userStatsSection1 = () => import(/* webpackChunkName: "UserStatsSection1" */ '../components/user-stats/Section1.vue');
	const userStatsSection2 = () => import(/* webpackChunkName: "UserStatsSection2" */ '../components/user-stats/Section2.vue');
	const userStatsSection3 = () => import(/* webpackChunkName: "UserStatsSection3" */ '../components/user-stats/Section3.vue');
	const userStatsSection4 = () => import(/* webpackChunkName: "UserStatsSection4" */ '../components/user-stats/Section4.vue');
	export default {
		data() {
      return {
      	loaded: false,
      	chartdata: [['Products','Users'],[1,0],[2,0],[3,0],[4,0],[5,0],[6,0],[7,0]],
				breadcrumbs: [{
			    href: '/',
			    link: true,
			    text: 'Dashboard'
			  },{
			    href: '/customer-stats',
			    link: true,
			    text: 'Customer Stats'
			  }]
			}
		},
		components: { 
			userStatsHeader,
			userStatsSection1,
			userStatsSection2,
			userStatsSection3,
			userStatsSection4
		},
		mounted(){
			this.getData();
			this.$emit('pageChange', {'type':'dark', 'page':'Customer Stats', 'breadcrumbs': this.breadcrumbs});
		},
		metaInfo: {
			title: 'Customer Stats - Admin System',
	    meta: [
	      { name: 'description', content: 'Lorem ipsum' },
	      { name: 'og-image', content: 'https://google.com' }
	    ]
	  },
	  methods:{
	  	getData(){
	      this.loaderClass = "on";
	      axios.get('/api/customers/get/999999999?page=1&search=0')
	      .then(response => {
	        this.success = true;
		      for(var i = 0; i < response.data.data.length; i++) {
				    var obj = response.data.data[i];
				    if(obj.products.length > 0){
				    	this.chartdata[obj.products.length] = (parseInt(this.chartdata[obj.products.length][1])+1 || 1);
				    }
					}
					this.loaded = true;
	      })
	      .catch(error => {
	        // Error handling
	        console.log(error.response.data);
	        this.loaded = true;
	        if (error.response.status === 422) {
	          this.errors = error.response.data.errors || {};
	        }
	        document.getElementById("loader").classList.remove("on");
	      });
	    }
	  }
	}
</script>