.no-webp{
	.home-top-1{
		background-image: url('/img/bg/home-top1.jpg');
	}
	.home-top-2{
		background-image: url('/img/bg/home-top2.jpg');
	}
	.home-top-3{
		background-image: url('/img/bg/home-top3.jpg');
	}
	.home-top-4{
		background-image: url('/img/bg/home-top4.jpg');
	}
	.bg1{
		background-image: url('/img/bg/bg1.jpg');
	}
	.bg2{
		background-image: url('/img/bg/bg2.jpg');
	}
	.flowerbg{
		background-image: url('/img/bg/flowerbg.jpg');
	}
}
.webp{
	.home-top-1{
		background-image: url('/img/bg/home-top1.webp');
	}
	.home-top-2{
		background-image: url('/img/bg/home-top2.webp');
	}
	.home-top-3{
		background-image: url('/img/bg/home-top3.webp');
	}
	.home-top-4{
		background-image: url('/img/bg/home-top4.webp');
	}
	.bg1{
		background-image: url('/img/bg/bg1.webp');
	}
	.bg2{
		background-image: url('/img/bg/bg2.webp');
	}
	.flowerbg{
		background-image: url('/img/bg/flowerbg.webp');
	}
}

.bg{
	@include background();
}
.bg-grey{
	filter: grayscale(100%);
	cursor: pointer;
	@include background();
	@include transition(300ms);
	&:hover{
		filter: grayscale(10%);
	}
}
.bg-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.dark-bg{
	background-color: $navy;
}
.bg-green{
	background-color: $green !important;
}
.bg-blue{
	background-color: $primary !important;
}
.bg-fixed{
	background-attachment: fixed;
}
.bg-light{
	background-color: $lightbg !important;
}
.bg-center{
	background-position: center;
}
#home-slider{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
	.slideshow-image {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background-repeat: no-repeat;
	  background-size: cover;
	  -webkit-animation-name: kenburns;
	  animation-name: kenburns;
	  -webkit-animation-timing-function: linear;
	  animation-timing-function: linear;
	  -webkit-animation-iteration-count: infinite;
	  animation-iteration-count: infinite;
	  -webkit-animation-duration: 20s;
	  animation-duration: 20s;
	  opacity: 1;
	  -webkit-transform: scale(1.2);
	  transform: scale(1.2);
	}

	.slideshow-image:nth-child(1) {
	  -webkit-animation-name: kenburns-1;
	  animation-name: kenburns-1;
	  z-index: 3;
	}

	.slideshow-image:nth-child(2) {
	  -webkit-animation-name: kenburns-2;
	  animation-name: kenburns-2;
	  z-index: 2;
	}

	.slideshow-image:nth-child(3) {
	  -webkit-animation-name: kenburns-3;
	  animation-name: kenburns-3;
	  z-index: 1;
	}

	.slideshow-image:nth-child(4) {
	  -webkit-animation-name: kenburns-4;
	  animation-name: kenburns-4;
	  z-index: 0;
	}
}