// Selected Text -----------------
::selection {
	color: $white;
	background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: $white;
	background: $primary; /* Gecko Browsers */
}
// Body Styles -------------------
body{
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: $body-bg;
	color: $darkgrey;
	font-family: $body;
	h1{
		font-family: $title;
		font-weight: 700;
		font-style: normal;
		font-size: 4rem;
		line-height: 1.1;
		&.page-top{
			font-weight: 700;
			font-size: 4.5rem;
		}
	}
	h2{
		font-size: 3rem;
		line-height: 1.3;
		font-weight: 900;
		font-style: normal;
		font-family: $title;
		&.title-large{
			font-weight: 700;
			font-size: 5rem;
		}
		&.smaller{
			font-size: 2.5rem;
			line-height: 1.3;
			font-weight: 700;
			font-style: normal;
			font-family: $title;
		}
	}
	h3{
		font-size: 1.6rem;
		font-weight: 900;
		font-family: $title;
		&.faq-question{
			font-size: 2rem;
			button{
				font-weight: 600;
			}
		}
		&.job-title{
			font-size: 2rem;
			button{
				font-weight: 900;
			}
		}
	}
	h4{
		font-size: 1.2rem;
		font-weight: 700;
		font-family: $title;
	}
	h5{
		font-size: 1.1rem;
		font-family: $title;
	}
	p{
		font-size: 1.1rem;
		&.statement{
			font-weight: 700;
			font-size: 1.5rem;
		}
		&.text-small{
			font-size: 0.9rem;
		}
		&.text-smaller{
			font-size: 0.8rem;
		}
		&.text-large{
			font-size: 1.2rem;
		}
		&.text-larger{
			font-size: 1.4rem;
		}
		&.caption{
			font-size: 0.9rem;
		}
		&.letter-spacing{
			letter-spacing: 2px;
		}
		&.price{
			font-size: 2.5rem;
		}
	}
	a{
		@include transition(300ms);
		&.text-white{
			color: $white !important;
			&:hover{
				&.hover-dark{
					color: $darkgrey !important;
				}
			}
		}
		&.text-dark{
			color: $darkgrey !important;
			&:hover{
				color: $primary !important;
			}
		}
		&.text-primary-dark{
			&:hover{
				color: $darkgrey;
			}
		}
		&:hover{
			text-decoration: none !important;
		}
	}
	ul{
		list-style: none;
		padding-left: 1.5rem;
		li{
			position: relative;
			margin-bottom: 1rem;
			font-size: 1.1rem;
			&:before{
				content: "";
				background-color: $primary;
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				left: -1.3rem;
				top: 9px;
				width: 6px;
				height: 6px;
				border-radius: 100%
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	.top-section{
		padding-top: 120px !important;
	}
	.social-links{
		font-size: 24px;
	}
	.white-text{
		color: $white;
	}
	.text-pink{
		color: $pink;
	}
	.text-green{
		color: $green !important;
	}
	.text-red{
		color: $red;
	}
	.text-dark{
		color: $darkgrey !important;
	}
	.text-primary-dark{
		color: $primarydark !important;
	}
	.text-primary-light{
		color: $primarylight !important;
	}
	.text-title{
		font-family: $title !important;
	}
	&.login{
		color: $white;
		text-align: center;
		@include gradient();
		p{
			color: $white;
		}
		a{
			color: $white;
		}
	}
}
.home-top{
	p.text-large{
		font-size: 2vw;
		i{
			margin-right: 1.2vw;
		}
	}
}
.big-quote{
	font-size: 50px;
	margin-bottom: 1rem;
	color: $primary;
}
.cursor-pointer{
	cursor: pointer;
}
#content{
	z-index: 1;
	@include transition(300ms);
	&.opacity{
		opacity: 0.1;
	}
}
.bg-second{
	background-color: $darkgrey;
	color: $white;
}
.text-secondary{
	color: $second !important;
}
.text-grey{
	color: $bluegrey;
}