.btn{
	display: block;
	border-radius: 30px;
	font-family: $body;
	border:0 !important;
	display: inline-block;
	position: relative;
	width: 100%;
	height: 50px;
	font-size: 1rem;
	font-weight: 600;
	padding: 13px 20px;
	max-width: 240px;
	@include transition(300ms);
	&.btn-icon{
		text-align: left !important;
		i{
			position: absolute;
			right: 15px;
			top: 17px;
			font-size: 1rem;
			@include transition(300ms);
		}
		&:hover{
			i{
				right: 10px;
			}
		}
	}
	&.no-max{
		max-width: 1000px;
	}
	&.btn-big{
		font-family: $title;
		max-width: 300px;
		height: 60px;
		font-size: 1.3rem;
		&.btn-icon{
			i{
				top: 22px;
				font-size: 1.2rem;
			}
		}
	}
	&.btn-small{
    max-width: 180px;
    height: 30px;
    font-size: 0.8rem;
    padding: 6px 5px;
    &.no-max{
			max-width: 1000px;
		}
	}
}
.btn-primary{
	background-color: $primary;
	color: $white;
	&:hover{
		background-color: $primary;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-primary-line{
	background-color: transparent;
	color: $primary;
	&:hover{
		background-color: $primary;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $primary;
	}
}
.btn-white{
	background-color: $white;
	color: $darkgrey;
	&:hover{
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-white-line{
	background-color: transparent;
	color: $white;
	&:hover{
		background-color: $white;
		color: $darkgrey !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-inline{
	position: absolute;
	top: 0;
	right: 0;
	max-width: 180px;
}