#app{
	min-height: 100vh;
	&.admin{
		padding-top: 95px;
	}
}
.primary-line{
	border-top: 2px solid $primary;
}
.green-line{
	border-top: 2px solid $green;
}
.rounded{
	position: relative;
	border-radius: 30px !important;
	.close{
		position: absolute;
		top: 1.2rem;
		right: -1.5rem;
		cursor: pointer;
	}
}
.search-page{
	min-height: 100vh;
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.z-3{
	z-index: 3;
}
.z-100{
	z-index: 3;
}
.list-style-none{
	list-style: none;
}
.rounded-box{
	border-radius: 5px;
}
.card{
	border-radius:5px;
	&.border-primary{
		border: 1px solid $primary;
	}
	&.card-on{
		background-color: $primary;
		color: $white;
	}
	&.stream-card{
		height: 179px;
		.d-table{
			height: 179px;
			.d-table-cell{
				height: 179px;
			}
		}
	}
}
.line{
	position:relative;
	display: block;
	height: 1px;
	span{
		width: 65px;
		height: 4px;
		display: block;
		background-color: $primary;
	}
	&.line-white{
		span{
			background-color: $white;
		}
	}
	&.line-dark{
		span{
			background-color: $darkgrey;
		}
	}
	&.line-primary-light{
		span{
			background-color: $primarylight;
		}
	}
	&.line-center{
		span{
			margin: auto;
		}
	}
	&.line-right{
		span{
			float: right;
		}
	}
}
.full-height{
	height: 100vh;
}
.modal{
	background-color: $transgreydark;
	color: $white;
	text-align: center;
	z-index: 1500;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.trans{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $transblue;
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
#orientation_change {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background-color: $darkgrey;
  text-align: center;
  display: none; }
  #orientation_change p {
    color: $white;
    font-family: $title;
    width: 500px;
    position: absolute;
    left: calc(50% - 250px);
    top: 200px;
    font-size: 20px;
    line-height: 30px; }
  #orientation_change img {
    position: absolute;
    top: 50px;
    width: 150px;
    left: calc(50% - 75px); }
.blog-body{
	font-size: 1.1rem;
	img{
		max-width: 100%;
	}
	p{
		margin-bottom: 0;
	}
	blockquote{
		background-color: transparent;
		color: $black;
    padding: 1rem;
    font-style: none;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 1.3;
    border-left: 2px solid #000;
	}
	h2{
		margin-bottom: 0;
	}
}
.lease-card{
	border: 2px solid $primary;
	.lease-title{
		font-size: 2.2rem;
	}
	.lease-body{
		font-size: 1rem;
		line-height: 1.5;
	}
}
#map{
	height: 500px;
}
.contact-icon{
  position: absolute;
  right: -110px;
  top: -280px;
  width: 1200px;
}
.contact-icon-text{
	margin-top: 200px;
}
.graphic-design-icon{
	position: absolute;
  right: 0;
  top: -150px;
  width: 400px;
}
.web-design-icon{
	position: absolute;
  right: 0;
  top: -100px;
  width: 400px;
}
.branding-icon{
	position: absolute;
  right: 0;
	top: -226px;
  width: 300px;
}
.threed-icon{
	position: absolute;
  right: 0;
  top: -220px;
  width: 400px;
}
.team-pic{
	position: relative;
	.team-details{
		min-width: 200px;
		position: absolute;
		bottom: -1rem;
		right: -1rem;
	}
}
.yellow-border-square{
	position: absolute;
	width: 386px;
	bottom: -310px;
	right: -120px;
}

.team_img{
	position: relative;
	width: 350px;
	height: 350px;
	background-repeat: no-repeat;
	background-size:100%;
	&.luke{
		background-image: url('/img/team/luke.jpg');
	}
	&.andy{
		background-image: url('/img/team/andy.jpg');
	}
	&.gareth{
		background-image: url('/img/team/gareth.jpg');
	}
	&.lisa{
		background-image: url('/img/team/lisa.jpg');
	}
	&.anne{
		background-image: url('/img/team/anne.jpg');
	}
	&.allister{
		background-image: url('/img/team/allister.jpg');
	}
}
.team_img:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size:100%;
	opacity: .5;
}
.top-links{
  height: 350px;
  width: 50px;
  position: fixed;
  right: 2rem;
  top: calc(50% - 175px);
  z-index: 100;
	.top-links-email{
		font-family: $fancy;
		display: block;
    width: 350px;
    transform: rotate(270deg);
    position: absolute;
    top: 155px;
    left: -155px;
		a{
			font-size: 12px;
			color: $darkgrey;
			&:hover{
				background-size: 100% 50%;
				background-color: $primary;
			}
		}
	}
}
.zoom-link{
	cursor: pointer;
	.zoom-img{
		width: 100%;
		height: 340px;
		max-height: 340px;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
	    top:-100%; left:0; right: 0; bottom:-100%;
	    margin: auto;
	    @include transition(300ms);
		}
	}
	&:hover{
		.zoom-img{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.home-top-dove{
	width: 100px;
}
.rounded-image{
	border-radius: 5px;
	overflow: hidden;
}
.faq-selector{
	cursor: pointer;
}
.faq-button{
	position: relative;
	padding-right: 20px;
	&:after{
		content:"";
		background-size: 100%;
		background-repeat: no-repeat;
		background-image: url('/img/icons/plus.svg');
		position: absolute;
		top: -3px;
		right: 0;
		width: 15px;
		height: 25px;
	}
}
.news-card{
	overflow: hidden;
	min-height: 664px;
}
.answer{
	font-size: 1.1rem;
}