// Footer ---------------
footer{
	background-color: $darkgrey;
	color: $white;
	border-top: 5px solid $primary;
	a{
		cursor: pointer;
		color: $white;
		&:hover{
			color: $primary;
		}
	}
	p{
		font-size: 1.0rem;
	}
	img{
		max-width: 100%;
	}
	.footer-social{
		font-size: 25px;
	}
	.menu_logo{
		width:150px;
	}
}
.footer-overflow{
	margin-bottom: -100px;
	position: relative;
}
.footer-top{
	.footer-overlap{
		margin-top: -540px;
		&.team-overlap{
			margin-top: -420px;
		}
	}
}