.ion-color-primary {
    --ion-color-base: var(--ion-color-primary, $green) !important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb, 47, 194, 81) !important;
    --ion-color-shade: var(--ion-color-primary-shade, $green) !important;
    --ion-color-tint: var(--ion-color-primary-tint, $green) !important;
}
.sc-ion-buttons-md-s ion-button:not(.button-round){
	--border-radius: 30px !important;
	display: block;
	border-radius: 30px;
	font-family: $title;
	border: 2px solid transparent;
	display: inline-block;
	position: relative;
	width: 100%;
	min-width: 200px;
	font-size: 1rem;
	font-weight: 600;
	max-width: 240px;
	height: 50px;
	font-size: 1rem;
	padding: 0.7rem;
	text-transform: uppercase;
	background-color: $primary;
	color: $white !important;
	border: 2px solid $primary;
	margin-top: 1rem;
	margin-bottom: 1rem;

	@include transition(300ms);
	&:hover{
		background-color: $primary;
		border: 2px solid $primary;
		box-shadow: none;
		color: $white !important;
		text-decoration: none !important;
	} 
	button{
		background-color: transparent;
	}
	&.button-clear{
		background-color: transparent;
		&:hover{
			background-color: transparent;
			border: 2px solid $primary;
			box-shadow: none;
			color: $white !important;
			text-decoration: none !important;
		} 
	}
}
.toolbar-container{
	overflow: visible !important;
}
.psi-form-footer{
	margin-top: 1rem;
	overflow: visible !important;
}
psi-form .psi-form-content{
	padding-top:3rem !important;
}
psi-form-viewer h6{
	color: $darkgrey !important;
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	font-size: 2rem !important;
	font-weight: 700 !important;
	font-family: $title !important;
}