<template>
	<div class="container mt-5">
		<div class="row">
			<div class="col-12">
				<div class="stages d-table">
					<div class="stages-line"></div>
					<div class="stages-steps">
						<div class="stages-step" v-for="s in stages">
							<span v-if="stage >= s" class="stages-step-fill"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			stages: Array,
			stage: Number
		},
		watch: {
			stage: function (stage) {
				var percent = (100 / this.stages.length) * stage;
				$('.stages-line').width((percent + 7 + stage) + '%');
			}
		},
		mounted(){
			var percent = (100 / this.stages.length) * this.stage;
				$('.stages-line').width((percent + 7 + this.stage) + '%');
		},
		methods:{
			
		}
	}
</script>

<style lang="scss">
	.stages{
  	position: relative;
	  margin: auto;
	  .stages-line{
	    position: absolute;
	    top: 9px;
	    left: 0;
	    border-bottom: 2px solid #b39e7a;
	    -webkit-transition: all 300ms ease;
		  -moz-transition: all 300ms ease ;
		  -o-transition: all 300ms ease;
		  transition: all 300ms ease;
	  }
	  .stages-steps{
	    .stages-step{
	      position: relative;
	      border: 2px solid #b39e7a;
	      border-radius: 100%;
	      width: 20px;
	      height: 20px;
	      display: inline-block;
	      margin: 0 15px;
	      overflow: hidden;
	      -webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
	      .stages-step-fill{
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100%;
	        height: 100%;
	        background-color: #b39e7a;
	      }
	      &:first-of-type{
	        margin-left: 0 !important;
	      }
	      &:last-of-type{
	        margin-right: 0;
	      }
	    }
	  }
	}
</style>