<template>
	<div class="row justify-content-center py-5">
		<div class="col-12 text-left">
			<p>The niches are two deep and each niche holds one urn for one person's ashes. The price of each niche includes a beautiful Irish Oak urn and brass nameplate inscribed with the details of the deceased.</p>
			<p class="mb-1"><b>Select a niche below:</b></p>
			<div class="select-holder">
				<select id="select-position" class="form-control" v-model="inarray">
					<option value="*" disabled>Select a niche</option>
					<option v-for="(position, i) in positions" :value="i">Row {{position.row}} - Col {{position.column}} - 0{{position.position}}</option>
				</select>
			</div>  
		</div>
		<div class="col-12 mt-3" v-if="positionset == true">
			<p class="mb-2"><b>You have selected niche:</b><br/>Row {{position.row}} - Col {{position.column}} - 0{{position.position}}</p>
			<a :href="'/add-to-basket/'+position.id+'/'+lease">
				<div class="btn btn-primary btn-icon">Add to basket <i class="fa fa-chevron-right"></i></div>
			</a>
		</div>
	</div>
</template>
<script>
	export default {
		props:{
			partner: Object,
			lease: Number,
		},
		data() {
			return {
				location: this.partner.id,
				positions: [],
				position: {},
				inarray: '*',
				positionset: false,
				errors: {},
				success: false,
				loaded: true,
				page: 1,
				scrollTo: 0,
				loadmore: true,
			}
		},
		mounted(){
			this.getPositions();
		},
		watch:{
			inarray(val){
				this.changePosition(val);
			}
		},
		methods: {
			changePosition(p){
				this.position = this.positions[p];
				this.positionset = true;
			},
			getPositions(){
				if (this.loaded) {

					this.loaded = false;
					this.success = false;
					this.errors = {};
					axios.get('/positions/get/'+this.location + '?' + Date.now()).then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.success = true;
            this.positions = response.data;
          })
					.catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
				}
			}
		},
	}
</script>
<style lang="scss">
.select-location-button{
	width: 100%;
	border: 1px solid #F4F4F4 !important;
	height: 50px;
	border-radius: 30px;
	padding: 0 1rem;
	text-align: left;
	background: #F4F4F4;
	color: #C6B292;
	-webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
	&:focus,
	&:hover{
		border: 1px solid #C6B292 !important;
		outline: none !important;
	}
}
.dropdown-menu{
	.dropdown-item{
		cursor: pointer;
	}
}
</style>