/* Generated using nova-theme-generator.com */

:root {
    --transparent: transparent;
    --black: #22292f;
    --white: white;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #7600FF;
    --success: #21b978;
    --warning: #FF6CE2;
    --info: #7600FF;
    --primary: #b39e7a;
    --primary-dark: #bda885;
    --primary-70: rgba(207, 188, 156, 0.7);
    --primary-50: rgba(207, 188, 156, 0.5);
    --primary-30: rgba(207, 188, 156, 0.3);
    --primary-10: rgba(207, 188, 156, 0.1);
    --logo: ;
    --sidebar-icon: rgba(0, 0, 0, 0.54);
    --20: #f6fbff;
    --30: #f4f7fa;
    --40: #eef1f4;
    --50: #e3e7eb;
    --60: #bacad6;
    --70: #b3b9bf;
    --80: #7c858e;
    --90: #252d37;
    --90-half: rgba(40, 54, 61, 0.5);
}

.bg-40{
background-color: #F6F5FF;
}
.bg-grad-sidebar {
  background-image: none;
  background-color: #ffffff;
}
.bg-grad-sidebar h3,
.bg-grad-sidebar a,
.bg-grad-sidebar .sidebar-label{
  color: rgba(0,0,0,.87)!important;
}