<template>
  <div class="container pt-3 pb-5">
    <div class="row pb-5 mob-py-0" v-if="memorials.length > 0">
      <div class="col-lg-6 mb-5 mob-mb-4" v-for="memorial in memorials">
        <a :href="'/memorials/' + memorial.slug">
        <div class="row half_row">
          <div class="col-lg-4 col-4 half_col">
        
            <div class="memorial-image">
              <picture>
                <source media="(min-width: 900px)" :srcset="memorial.normalwebp +' 1x, '+ memorial.normalwebp + ' 2x'" type="image/webp"/> 
                <source normalwebp="(min-width: 601px)" :srcset="memorial.normalwebp +' 1x, '+ memorial.normalwebp + ' 2x'" type="image/webp"/> 
                <source :srcset="memorial.normalwebp +'1x, '+ memorial.normalwebp + ' 2x'" type="image/webp"/> 
                <img :srcset="memorial.normal + ' 600w, ' + memorial.normal + ' 900w, '+ memorial.normal + ' 1440w'" :src="memorial.normal" :type="memorial.mimetype" :alt="memorial.title" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col-lg-8 col-8 half_col text-dark mob-pt-2">
            <p class="text-title text-larger mb-0"><b>{{memorial.title}}</b></p>
            <p class="text-small mb-1" v-if="memorial.birth && memorial.death">{{niceDate(memorial.birth)}} - {{niceDate(memorial.death)}}</p>
            <p class="post-exerpt text-small mb-2 d-none d-md-block">{{memorial.excerpt}}</p>
            <p class="mb-0 text-small"><b>View memorial</b> <i class="fa fa-arrow-circle-right text-primary ml-1"></i></p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-12 mt-5" v-if="loadmore">
        <div class="btn btn-primary mx-auto" @click="$emit('loadmore', true);">Load More</div>
      </div>
    </div>
    <div class="row justify-content-center py-5 mb-5" v-else>
      <div class="col-lg-5 col-md-8 text-center">
        <h3 class="mb-0">Sorry, no memorials found.</h3>
        <img src="/img/shapes/under-title.svg" width="200" class="my-3" alt="Under title graphic"/>
        <p class="mb-4">You can search for a different name or <a href="/contact">contact us</a>.</p>
        <a href="/contact">
          <button type="button" class="btn btn-primary btn-icon">Contact us <i class="fa fa-envelope"></i></button>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      memorials: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return ("0" + newdate.getDate()).slice(-2) + '/' + ("0" + (newdate.getMonth() + 1)).slice(-2) + '/' + newdate.getFullYear();
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
      },
    }
  }
</script>