<template>
	<div class="container-fluid mob-mb-5">
    <div class="row d-lg-none">
      <div class="col-12 mb-3">
        <div class="select-holder">
          <select class="form-control" v-model="category">
            <option value="general">General</option>
            <option value="locations">Locations</option>
            <option value="columbaria">Columbaria</option>
            <option value="payment">Payment</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row half_row d-none d-lg-flex">
      <div class="col-lg half_col" data-aos="fade-in">
        <div class="faq-selector text-center py-5" :class="{ active: category == 'general' }" @click="changeCategory('general')">
          <img src="/img/shapes/cross-gold.svg" class="faq-icon faq-icon-general mb-3" height="80">
          <h5 class="text-uppercase mb-0"><b>General</b></h5>
        </div>
      </div>
      <div class="col-lg half_col" data-aos="fade-in" data-aos-delay="100">
        <div class="faq-selector text-center py-5" :class="{ active: category == 'locations' }" @click="changeCategory('locations')">
          <img src="/img/shapes/church-gold.svg" class="faq-icon faq-icon-locations mb-3" height="80">
          <h5 class="text-uppercase mb-0"><b>Locations</b></h5>
        </div>
      </div>
      <div class="col-lg half_col" data-aos="fade-in" data-aos-delay="200">
        <div class="faq-selector text-center py-5" :class="{ active: category == 'columbaria' }" @click="changeCategory('columbaria')">
          <img src="/img/shapes/columbarium-gold.svg" class="faq-icon faq-icon-columbaria mb-3" height="80">
          <h5 class="text-uppercase mb-0"><b>Columbaria</b></h5>
        </div>
      </div>
      <div class="col-lg half_col" data-aos="fade-in" data-aos-delay="400">
        <div class="faq-selector text-center py-5" :class="{ active: category == 'payment' }" @click="changeCategory('payment')">
          <img src="/img/shapes/hands.svg" class="faq-icon faq-icon-payment mb-3" height="80">
          <h5 class="text-uppercase mb-0"><b>Payment</b></h5>
        </div>
      </div>
      <div class="col-12 half_col">
        <hr class="line primary-line mt-5 mb-0"/>
      </div>
    </div>
		<div id="generalAccoridon" class="row pb-5 mob-py-0 accordion" v-if="category == 'general'">
			<div class="col-12 mb-0" v-for="(faq, index) in general">
        <div class="py-3">
          <p :id="'generalfaqsheading'+faq.id" class="collapsed faq-button mb-0 cursor-pointer" data-toggle="collapse" :data-target="'#generalfaqs'+faq.id" aria-expanded="false" :aria-controls="'generalfaqs'+faq.id"><b>{{faq.question}}</b></p>
        </div>
        <div :id="'generalfaqs'+faq.id" class="collapse mb-3 answer" :aria-labelledby="'generalfaqsheading'+faq.id" data-parent="#generalAccoridon" v-html="faq.answer"></div>
        <hr class="line primary-line my-0"/>
			</div>
		</div>
    <div id="locationsAccoridon" class="row pb-5 mob-py-0 accordion" v-if="category == 'locations'">
      <div class="col-12 mb-0" v-for="(faq, index) in locations">
        <div class="py-3">
          <p :id="'locationsfaqsheading'+faq.id" class="collapsed faq-button mb-0 cursor-pointer" data-toggle="collapse" :data-target="'#locationsfaqs'+faq.id" aria-expanded="false" :aria-controls="'locationsfaqs'+faq.id"><b>{{faq.question}}</b></p>
        </div>
        <div :id="'locationsfaqs'+faq.id" class="collapse mb-3 answer" :aria-labelledby="'locationsfaqsheading'+faq.id" data-parent="#locationsAccoridon" v-html="faq.answer"></div>
        <hr class="line primary-line my-0"/>
      </div>
    </div>
    <div id="columbariaAccoridon" class="row pb-5 mob-py-0 accordion" v-if="category == 'columbaria'">
      <div class="col-12 mb-0" v-for="(faq, index) in columbaria">
        <div class="py-3">
          <p :id="'columbariafaqsheading'+faq.id" class="collapsed faq-button mb-0 cursor-pointer" data-toggle="collapse" :data-target="'#columbariafaqs'+faq.id" aria-expanded="false" :aria-controls="'columbariafaqs'+faq.id"><b>{{faq.question}}</b></p>
        </div>
        <div :id="'columbariafaqs'+faq.id" class="collapse mb-3 answer" :aria-labelledby="'columbariafaqsheading'+faq.id" data-parent="#columbariaAccoridon" v-html="faq.answer"></div>
        <hr class="line primary-line my-0"/>
      </div>
    </div>
    <div id="paymentAccoridon" class="row pb-5 mob-py-0 accordion" v-if="category == 'payment'">
      <div class="col-12 mb-0" v-for="(faq, index) in payment">
        <div class="py-3">
          <p :id="'paymentfaqsheading'+faq.id" class="collapsed faq-button mb-0 cursor-pointer" data-toggle="collapse" :data-target="'#paymentfaqs'+faq.id" aria-expanded="false" :aria-controls="'paymentfaqs'+faq.id"><b>{{faq.question}}</b></p>
        </div>
        <div :id="'paymentfaqs'+faq.id" class="collapse mb-3 answer" :aria-labelledby="'paymentfaqsheading'+faq.id" data-parent="#paymentAccoridon" v-html="faq.answer"></div>
        <hr class="line primary-line my-0"/>
      </div>
    </div>
	</div>
</template>
<script>
  export default {
    data() {
      return {
        errors: {},
        success: false,
        loaded: true,
        category: 'general',
        general: [],
        locations: [],
        payment: [],
        account: [],
        columbaria: [],
        faqs:[],
      }
    },
    mounted() {
      this.get();
    },
    methods: {
      changeCategory(cat){
        this.category = cat;
      },
      get(page = 1) {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          axios.get('/faqs/get').then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.faqs = response.data;
            for(let i = 0; i < this.faqs.length; i++){
              if(this.faqs[i].category == "General"){
                this.general.push(this.faqs[i]);
              }else if(this.faqs[i].category == "Locations"){
                this.locations.push(this.faqs[i]);
              }else if(this.faqs[i].category == "Payment"){
                this.payment.push(this.faqs[i]);
              }else if(this.faqs[i].category == "Columbaria"){
                this.columbaria.push(this.faqs[i]);
              }
            }
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
        }
      }
    }
  }
</script>