<template>
<div class="container-fluid py-5 mob-py-0 flowerbg bg bg-90 position-relative">
  <div class="trans"></div>
  <div class="row py-5 justify-content-center">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-9 text-white text-center text-lg-left">
          <h2 class="mb-4 smaller">Interested in a columbarium for your parish or organisation?</h2>
          <a href="/partnerships">
            <div class="btn btn-big btn-primary btn-icon">Learn More <i class="fa fa-chevron-right"></i></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</template>