<style lang="scss">
  .search-form{
    margin-top: -50px;
  }
</style>
<template>
  <div id="locations" class="container-fluid container-wide">
    <div class="row justify-content-center">
      <div class="col-lg-4 half_col">
        <input id="title" class="form-control" v-model="fields.title" v-debounce:300ms="getLocations" placeholder="Search by name or town/city" />  
        <p class="mb-0 text-primary text-center text-small mt-1"><u class="cursor-pointer" v-on:click="resetSearch"><i class="fa fa-eye"></i> View all locations</u></p>
      </div>
    </div>
    <div class="row mt-5">
      <locations-show :locations="locations" :loadmore="loadmore" @loadmore="loadMore()"></locations-show>
    </div>
  </div>  
</template>
<script>
export default {
  props: {
    categories: Array
  },
  data() {
    return {
      fields: {
        title: '',
      },
      errors: {},
      success: false,
      loaded: true,
      locations: [],
      limit: 6,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getLocations();
  },
  methods: {
    resetSearch(){
      this.fields.title = "";
      this.getLocations();
    },
    loadMore(){
      this.page++;
      this.morelocations();
    },
    morelocations(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/locations/get?limit=' + this.limit + '&page=' + page + '&title=' + this.fields.title).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.locations.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.jobs);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
    getLocations(page = 1) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/locations/get?limit=' + this.limit + '&page=' + page + '&title=' + this.fields.title).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.locations = response.data.data;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.jobs);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
  },
}
</script>