<template>
  <div class="container pt-3 pb-5">
    <div class="row pb-5 mob-py-0 justify-content-center" v-if="locations.length > 0">
      <div class="col-md-6 mb-5" v-for="location in locations">
        <div class="zoom-link" data-aos="fade-in">
          <a :href="'/locations/' + location.slug">
            <div class="rounded-image zoom-img">
              <picture>
                  <source media="(min-width: 900px)" :srcset="location.normalwebp +' 1x, '+ location.normalwebp + ' 2x'" type="image/webp"/> 
                  <source normalwebp="(min-width: 601px)" :srcset="location.normalwebp +' 1x, '+ location.normalwebp + ' 2x'" type="image/webp"/> 
                  <source :srcset="location.normalwebp +'1x, '+ location.normalwebp + ' 2x'" type="image/webp"/> 
                  <img :srcset="location.normal + ' 600w, ' + location.normal + ' 900w, '+ location.normal + ' 1440w'" :src="location.normal" :type="location.mimetype" :alt="location.title" class="w-100" />
                </picture>
            </div>
            <div class="text-dark mt-3">
              <p class="post-exerpt text-small mb-1"><i class="fa fa-map-marker text-primary mr-2"></i><b>{{location.location}}</b></p>
              <h4 class="post-title">{{location.title}}</h4>
              <p class="mb-0 text-small"><b>Read more</b> <i class="fa fa-arrow-circle-right ml-1"></i></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 mt-5" v-if="loadmore">
        <div class="btn btn-primary mx-auto" @click="$emit('loadmore', true);">Load More</div>
      </div>
    </div>
    <div class="row justify-content-center pb-5 mb-5" v-else>
      <div class="col-lg-7 col-md-8 text-center">
        <p class="mb-0 text-large">Currently, we do not have a columbarium in this location.</p>
        <p class="mb-4">Please <a href="/contact">contact us</a> for more information and to learn about our future plans.</p>
        <a href="/contact">
          <button type="button" class="btn btn-primary btn-icon">Contact us <i class="fa fa-envelope"></i></button>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mb-5">
        <p class="mb-0"><b><span class="text-primary">*</span> More locations coming soon, please check back for updates.</b></p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      locations: Array,
      loadmore: Boolean
    },
    methods: {
      moment: function (date) {
        return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>