#app{
	min-height: 100vh;
	&.admin{
		padding-top: 67px;
	}
}
.bg{
	@include background();
}
.bg-error{
	background-color: $red;
}
.full-width{
	width: 100%;
}
.full-height{
	height: 100vh;
}
.dis-table{
	display: table;
	width: 100%;
	.vert-mid{
		display: table-cell;
		vertical-align: middle;
	}
}
.alert{
	border: 1px solid $second;
	color: $darkgrey;
}
.card{
	border: 0 !important;
	padding: 15px;
	background-color: $lightgrey;
	p{
		&.bold{
			font-size: 14px;
			font-weight: 600;
			line-height: 18px;
			margin-bottom: 0;
		}
	}
	&.pink-card{
		background-color: $pink;
		color: $white;
	}
	&.purple-card{
		background-color: $purple;
		color: $white;
	}
}
.modal{
	background-color: $transblue;
	color: $white;
	text-align: center;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.card_holder{
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	overflow: hidden;
	height: 100px;
	input{
		position: absolute;
		top: 40px;
		left: 40px;
		z-index: -1;
	}
}
.ccard{
	background-color: $green;
	color: $white;
	width: 100%;
	@include background();
	.card_logo{
		position: absolute;
		top: 5px;
	    left: 1rem;
		width: 50px;
	}
	.cc_name{
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.cc_num{
		font-size: 22px;
		letter-spacing: 2px;
		text-align: right;
	    margin-bottom: 5px;
	}
	&.mastercard_card{
		background-color: $mastercard;
		@include mastercardBoxShadow();
	}
	&.visa_card{
		background-color: $visa;
		@include visacardBoxShadow();
	}
	&.notactive{
		background-color: #686868;
		@include boxShadow();
	}
	.removecard{
		position: absolute;
		top: -5px;
		right: -5px;
		width: 16px;
		height: 16px;
		border-radius: 100%;
		padding: 4px;
		background-color: $red;
		cursor: pointer;
		@include transition(300ms);
		&:hover{
			background-color: $darkgrey;
		}
		img{
			position: absolute;
			width: 8px;
			left: calc(50% - 4px);
			top: calc(50% - 4px);
		}
	}
}
.recent-transaction{
	&.lunch-transaction{
		
	}
	.transaction-date{
		background-color: transparent;
		border-left: 2px solid transparent;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		@include transition(300ms);
	}
	.transaction-details{
		background-color: transparent;
		@include transition(300ms);
	}
	.transaction-amount{
		background-color: transparent;
		@include transition(300ms);
	}
	&:hover{
		.transaction-date{
			background-color: $transbluelight;
			border-left: 2px solid $blue;
		}
		.transaction-details{
			background-color: $transbluelight;
		}
		.transaction-amount{
			background-color: $transbluelight;
		}
	}
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.table-striped{
	tbody tr:nth-of-type(odd){
		background-color: $lightgrey !important;
	}
}