.form-group{
	&.select-form-group{
		
	}
}
input.form-control,
select.form-control{
	height: 50px;
	box-shadow: none !important;
	outline: none !important;
	&:focus{
		box-shadow: none !important;
		outline: none !important;
	}
}
#app{
	.wizard-progress-with-circle{
		display: none;
	}
	.wizard-header{
		display: none;
	}
	.vue-form-wizard.md{
		.wizard-nav{
			width: 100px;
		    position: absolute;
		    bottom: 0;
		    left: calc(50% - 50px);
			li{
				.wizard-icon-circle{
					width: 15px;
					height: 15px;
					font-size: 9px;
					border: 0;
					.wizard-icon{
						display: none;
					}
					&.checked{
						background-color: $primary !important;
						.wizard-icon-container{
							background-color: $primary !important;
							border-radius: 100%;
						}
					}
				}
				.stepTitle{
					display: none;
				}
			}
		}
		.wizard-tab-content{
			padding: 0;
		}
		.wizard-card-footer{
			padding: 0;
			margin-left: -7.5px;
			margin-right: -7.5px;
			margin-bottom: 30px;
			.wizard-footer-left,
			.wizard-footer-right{
				width: 50%;
				padding: 0 7.5px;
			}
			button{
				color: $white;
				width: 100%;
				height: 50px;
				max-width: 250px;
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
				padding: 13px 15px;
				border: 0;
				background-color: $primary !important;
				@include transition(300ms);
				&:hover{
					color: #fff;	
				    background-color: #28b474 !important;
				}
			}
		}
	}
}
label{
	cursor: pointer;
}
.sort_code_inputs{
	input{
		width: calc((95% - 80px) / 3);
	}
	.hyphen{
		width: 40px;
		font-weight: 900;
		font-size: 22px;
	}
}
.vue-tel-input{
	.dropdown{
		background-color: $white;
	}
}
.file-input-holder{
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
}
$image-holder-height: 438px;
.image-holder{
	background-color: $lightgrey;
	height: $image-holder-height;
	width: 100%;
	cursor: pointer;
	border-radius: 5px;
	overflow: hidden;
	.d-table{
		height: $image-holder-height;
		width: 100%;
		.d-table-cell{
			height: $image-holder-height;
			width: 100%;
			text-align: center;
			i{
				font-size: 40px;
				cursor: pointer;
			}
			p{
				cursor: pointer;
			}
		}
	}
}
.ql-toolbar.ql-snow{
	border-color: $lightbg !important;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ql-container.ql-snow{
	border-color: $lightbg !important;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.input-group{
	.form-control{
		border-right: 0;
	}
	.input-group-addon{
		padding: 16px 15px;
		width: 50px;
	    font-size: 15px;
	    font-weight: normal;
	    line-height: 1;
	    color: #2c3e50;
	    text-align: center;
	    background-color: $lightgrey;
	    border: 1px solid $lightbg;
	    border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
	}
}
.max-h-438{
	max-height: 438px;
}
.image-preview{
	width: fit-content;
	.edit-image{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $transblue;
		cursor: pointer;
		opacity: 0;
		@include transition(300ms);
		.d-table{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.d-table-cell{
				width: 100%;
				text-align: center;
				color: $white;
				i{
					font-size: 40px;
					cursor: pointer;
				}
				p{
					cursor: pointer;
				}
			}
		}
	}
	&:hover{
		.edit-image{
			opacity: 1;
		}
	}
}
.pagination{
	display: table;
	margin: auto;
	.page-item{
		display: table-cell;
	}
}
.ql-editor{
	min-height: 365px !important;
}
.chart{
	width: 100%;
}
.file-upload{
	width: 100%;
	padding: 50px;
	border: 1px dashed $darkgrey;
	text-align: center;
	cursor: pointer;
}
.product-name{
	border: 1px solid $lightbg;
	border-radius: 5px;
	padding: 0.75rem 75px 0.75rem 1rem;
	position: relative;
	margin-top: 1rem;
	.add-product{
		width: 76px;
		height: calc(100% + 2px);
		position: absolute;
		right: -1px;
		top: -1px;
		padding: 0.75rem;
		text-align: center;
		color: $white;
		background-color: $success;
		border: 1px solid $success;
		cursor: pointer;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		@include transition(300ms);
		&:hover{
			background-color: $primary;
			border: 1px solid $primary;
		}
	}
}
.selected-product{
	background-color: #f2f2f2;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: inline-block;
}
.daterangepicker{
	.btn-success{
		float: right;
    margin-bottom: 1rem;
    width: 100px;
    height: 40px;
	}
	.btn-default{
		float:left;
	}
}