// above iPad in portrait
@media only screen and (min-device-width : 769px){

}

// iPad in portrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	body{
		h1{
			&.home-page-top{
		    font-size: 10vw;
		    line-height: 11vw;
			}
			&.yellow-underline{
				box-shadow: inset 0 -0.2vw $primary, inset 0 -5.2vw $primary;
			}
		}
	}
	#scroll-menu,
	.menu{
		.menu-links{
			.menu-item{
				&:hover{
			  	box-shadow: none;
				}
				&.yellow-underline{
			  	box-shadow: none;
				}
			}
		}
	}
	#menu_btn, .menu_btn{
		top: 50px;
    right: 30px;
	}
	.home-top-video{
		display: none;
	}
	.footer-top, .footer-top-2, .footer-top-3, .footer-top-4 {
	  background-attachment: initial;
	}
	.home-top{
		p{
			&.text-large{
				font-size: 4vw;
				i{
					margin-right: 2.5vw;
				}
			}
		}
	}
	.team_img{
		width: 100%;
	}
	.graphic-design-icon {
    top: -313px;
    opacity: 0.5;
    z-index: -1;
	}
	.web-design-icon {
    top: -250px;
    opacity: 0.5;
    z-index: -1;
	}
	.branding-icon{
		top: -340px;
    opacity: 0.5;
    z-index: -1;
	}
	.threed-icon{
		top: -370px;
    opacity: 0.5;
    z-index: -1;
	}
	#mobile_menu{
		.mobile_menu_inner{
			.menu_item{
				a{
					font-size: 30px;
				}
			}
		}
		.mobile_menu_social{
			bottom: 50px;
			left: 50px;
		}
		.mobile_menu_logo{
			width: 280px;
		}
	}
	.work_slider.off{
		height: auto;
	}
	.box{
		min-height: 0;
		height: auto !important;
		margin-bottom: 15px;
	}
	#mobile_menu .mobile_menu_inner .menu_item.active a::after{
		top: 18px;
	}
	.ipad_p_pr_15{
		padding-right: 15px !important; 
	}
	.ipad_p_mb_5{
		margin-bottom: 3rem !important
	}
	.ipadp-height-auto{
		height: auto !important;
	}
	.ipadp-pr-3{
		padding-right: 1rem !important;
	}
	.ipadp-mt-5{
		margin-top: 3rem !important;
	}
	.ipadp-mb-5{
		margin-bottom: 3rem !important;
	}
	.ipadp-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.ipadp-py-5{
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
	.ipadp-pt-5{
		padding-top: 3rem !important;
	}
	.ipadp-pr-5{
		padding-right: 3rem !important;
	}
	.ipadp-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.ipadp-pt-0{
		padding-top: 0 !important;
	}
	.ipadp-mt-0{
		margin-top: 0 !important;
	}
	.ipadp-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.ipadp-mx-w-100{
    max-width: 100%;
  }
	.offset-box{
		margin-top: -80vw !important;
		.offset-box-number{
			font-size: 13vw;
			line-height: 13vw;
		}
		&.job-offset-box{
			margin-top: 0 !important;
		}
	}
	.offset-box-left,
	.offset-box-right{
		background: none !important;
	}
	.home-box-img{
		height: 120vw;
		@include background();
	}
	.modal-dialog {
	    max-width: 660px;
	    margin: 1.75rem auto;
	}
	.home-top-video-holder{
		height: auto;
		padding-top: 60px;
		.home-top-video{
			max-width: 80%;
			float: none !important;
			margin: auto;
			display: block;
		}
	}
}
// above iPad in portrait
@media only screen and (max-device-width : 768px){
	.below_ipad_p_hide{
		display: none !important;
	}
}