// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  body{
    h1{
      &.page-top{
        font-size: 5rem;
      }
      &.home-page-top{
        font-size: 8vw;
        line-height: 9vw;
      }
      &.yellow-underline{
        box-shadow: inset 0 -0.2vw $primary, inset 0 -4.2vw $primary;
      }
    }
  }
  #scroll-menu,
  .menu{
    .menu-links{
      .menu-item{
        &:hover{
          box-shadow: none;
        }
      }
    }
  }
  .home-top{
    p{
      &.text-large{
        font-size: 3vw;
        i{
          margin-right: 1.8vw;
        }
      }
    }
  }
  .footer-top, .footer-top-2, .footer-top-3, .footer-top-4 {
    background-attachment: initial;
  }
  .bg-fixed{
    background-attachment: none;
  }
  .project-box.coming-soon:after{
    padding: 145px 0;
  }
  .top-links .top-links-email{
    left: -115px;
  }
  .team_img{
    width: 100%;
    height: 290px;
  }
  .ipad-overflow-hidden{
    overflow: hidden;
  }
  #menu_btn{
    display: block;
  }
  .logout{
    display: none;
  }
  .ipad-mt-5{
    padding-top: 3rem !important;
  }
  .ipad-mb-3{
    margin-bottom: 1rem !important;
  }
  .ipad-pr-5{
    padding-right: 3rem !important;
  }
  #footer-top .yellow-block {
    right: -113px;
    width: 510px;
  }
  .testimonial-img{
    right: -30px;
  }
  #footer-top{
    .yellow-block{
      bottom: -180px;
    }
  }
}